<footer class="footer">
    <div class="container">
      <div class="footer-top">
        <p class="copyright">© 2025 Mohamed El Bakkali. All rights reserved.</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/mohamed-el-bakkali-26a261348?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="in" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://wa.me/+212674051966" target="_blank" class="whats" aria-label="WhatsApp">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.instagram.com/mohamed.elbakkali_?igsh=MTJweHB3Z2hmbWNmOQ==" class="insta" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Designed & Developed with ❤️ by Mohamed El Bakkali</p>
      </div>
    </div>
  </footer>
  