:host {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
  }
  
  main {
    flex: 1 0 auto;
    display: flex; /* Ensure the main element passes flex properties to its children */
    flex-direction: column;
  }
  
  main > div {
    flex: 1 0 auto; /* Ensure the wrapper div expands to fill the main element */
    display: flex; /* Pass flex properties to the child component */
    flex-direction: column;
  }
  
  app-footer {
    flex-shrink: 0;
  }